<div class="field">
  <%= f.label :name , "Name" %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email , "Email" %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password , "Password" %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation , "Confirmation" %><br />
  <%= f.password_field :password_confirmation %>
</div>
